@import url(./assets/font.css);

:root {
  --container-padding: 1rem;
  --plr: 16px;
  --column-count: 9;
  --background-noise: url('./bg.svg');

}

html {
  background-color: #121212;
  scroll-behavior: smooth;
  font-family: -apple-system,
    BlinkMacSystemFont,
    PingFang SC,
    Hiragino Sans GB,
    HarmonyOS_Medium,
    Arial,
    Microsoft YaHei,
    Helvetica Neue,
    Helvetica,
    sans-serif;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  user-select: none;

}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}


/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@media (min-width: 1024px) {
  :root {
    --plr: 32px;
  }
}

@media (max-width: 414px) {
  :root {
    --column-count: 2
  }
}

@media(min-width:415px) and (max-width: 590px) {
  :root {
    --column-count: 3
  }
}

@media (min-width:590px) and (max-width: 1060px) {
  :root {
    --column-count: 4
  }
}

@media (min-width:1060px) and (max-width: 1260px) {
  :root {
    --column-count: 5
  }
}

@media (min-width:1260px) and (max-width: 1465px) {
  :root {
    --column-count: 6
  }
}

@media (min-width:1465px) and (max-width: 1672px) {
  :root {
    --column-count: 7
  }
}